<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trading Diary In Rust">
    <title>Trading Diary</title>
</head>

<!-- These are placeholders, not errors. They will be replaced by the actual content when the page is rendered. -->

<style>
    {{BASE_CSS}}
    {{CSS}}
    HEADER_CSS
</style>

<body>
    <div class="mainContainer">
        HEADER_HTML
        <h1>Done Items</h1>
        <div id="doneItems"></div>
        <h1>To Do Items</h1>
        <div id="pendingItems"></div>
        <div class="inputContainer">
            <input type="text" id="name" placeholder="create to do item">
            <div class="actionButton" id="create-button" value="Send">Create</div>
        </div>
    </div>
</body>

<script>
    {{JAVASCRIPT}}
</script>


</html>